<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- <include file="$(find tricopter)/launch/static_transforms.launch"/> -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="transform_body2sensor" args="0.19 0 0.069 0 0 0 1 body os_sensor" />
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="transform_body2base_link" args="0 0 0 0 0 0 1 body base_link" /> -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="transform_map2odom" args="0 0 0 0 0 0 1 map odom" /> -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="transform_odom2camera_init" args="0 0 0 0 0 0 1 odom camera_init" /> -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="transform_body2vision" args="0 0 0 0 0 0 1 body vision_estimate" /> -->
    
    <rosparam>
        use_sim_time: true
    </rosparam>

    <node pkg="rosbag" type="play" name="player" args="--clock /home/lachie/bags/2022-09-12-17-10-44.bag"/>

    <!-- <include file="$(find fast_lio)/launch/mapping_ouster64.launch"/> -->

    <include file="$(find fast_lio_localization)/launch/localization_ouster64.launch">
        <arg name="map" value="/home/lachie/scans/test_scan.pcd" />
    </include>
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_lio_localization)/rviz_cfg/localization.rviz" />
</launch>
  
